/*!LOAD FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

$link-color:         #E65C43;
$base-color:         #fff; 
$background-color:   #F25C43;
$bg:                 #30353D;
$devil:              #666;
$size:               2em;
$font-body:          'Roboto', sans-serif;

